body{
    background-color: #FAFAF9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Sora',sans-serif;
}

.card-container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 368px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    padding-bottom: 20px;
    background-color: #FFFFFF;
}

/* Image */
.card-img{
    width: 100%;
    height: auto;
    margin-bottom: 16px;
    border-radius: 8px;
}

/* Tag */
.tag{
    display: inline-block;
    align-self: flex-start;
    padding: 8px 12px 8px 12px;
    border-radius: 16px;
    background-color: #F2EAFD;
    color: #7C19EE;
    font-size: 0.625rem;
}

/* Text Content */
.card-container h2{
    font-size: 1.125rem;
}
.card-container p{
    font-size: 0.875rem;
}
.divider{
    border: none;
    border-top: 1px solid #E2E2E2;
    margin: 16px 0 16px 0;
}
.author{
    font-size: 0.75rem;
}



